<!--
            Este é um formulário Angular que utiliza Reactive Forms para gerenciar o estado do formulário.

            Estrutura do formulário:
            - formGroup: taskForm
            - ngSubmit: handleSubmit()

            Campos do formulário:
            1. Nome da Tarefa (task-name)
                - formControlName: name
                - Validação: Exibe mensagem "Task name is required." se o campo for inválido e tocado.

            2. Descrição da Tarefa (task-description)
                - formControlName: description

            3. Data de Vencimento da Tarefa (task-due-date)
                - formControlName: createdAt
                - Tipo: date
                - Validação: Exibe mensagem "Due date is required" se o campo for inválido e tocado.

            Botões:
            - Cancelar: Botão de tipo "button" que não submete o formulário.
            - Submeter: Botão de tipo "submit" que está desabilitado se o formulário for inválido.

            Mensagem Condicional:
            - Exibe "update task" se formType for "UPDATE", caso contrário, exibe "Add new task".
-->
<div class="modal">
    <div class="modal-content">
        <form [formGroup]="taskForm" (ngSubmit)="handleSubmit()">
            <p>{{formType === "UPDATE" ? "update task" : "Add new task"}}</p>
            <div>
                <label for="task-name">Task name</label>
                <input id="task-name" formControlName="name" />
                @if(taskForm.get('name')?.invalid && taskForm.get('name')?.touched) {
                <div>
                    Task name is required.
                </div>
                }

            </div>
            <div>
                <label for="task-description">Task description</label>
                <input id="task-description" formControlName="description" />
            </div>
            <div>
                <label for="task-due-date">Task due date</label>
                <input id="task-due-date" type="date" formControlName="createdAt" />
                <!-- THIS IS THE DATE VALIDATION AND THE DATE IS BEING CHECKED IF IT IS INVALID OR NOT AND THE DATE IS BEING CHECKED IF IT IS TOUCHED OR NOT -->
                @if(taskForm.get('createdAt')?.invalid && taskForm.get('createdAt')?.touched) {
                <div>
                    Due date is required
                </div>
                }

            </div>
            <div>
                <button class="cancel-button" type="button" (click)="handleCancel()">Cancel</button>
                <button class="submit-button" type="submit" [disabled]="taskForm.invalid">Submit</button>
            </div>
        </form>
    </div>
</div>