<div class="task-list-container">
    <div class="heading">
        <h3>Task</h3>
        <div>
            <span class="status-dot in-progress"></span>In Progress
            <span class="status-dot completed"></span>Completed
        </div>
    </div>
    <table>
        <thead>
            <tr>
                <th>Task</th>
                <th>Status</th>
                <th>Due Date</th>
            </tr>
        </thead>
        <tbody>
            
            <!-- THIS IS THE TASK LIST AND THE TASK IS BEING LOOPED THROUGH AND THE TASK IS BEING CHECKED 
             IF IT IS COMPLETED OR NOT AND THE STATUS IS BEING CHECKED IF IT IS IN PROGRESS OR NOT 
             THE TASK IS BEING CHECKED IF IT IS IN PROGRESS OR NOT AND THE TASK IS BEING CHECKED IF IT IS COMPLETED OR NOT.
             
            -->
            @for(task of tasks; track task.id){
            <tr>
                <td>
                    <label class="{{ task.completed ? 'completed-task' : '' }}">
						<input type="checkbox" aria-label="Select task" [checked]="task.completed"
							(click)="handleCheckbox(task.id!)" />{{ task.name }}
					</label>
                </td>
                <td>
                    <span class="status-dot {{task.completed ? 'completed' : 'in-progress'}}"></span>{{task.completed ? 'Completed' : 'In Progress'}}

                </td>
                <td>
                    {{task.createdAt | date:'yyyy-MM-dd'}}
                </td>
            </tr>
        }
        </tbody>
    </table>
    <div class="button-container">
        <button>Add New Task</button>
    </div>
</div>